<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @task, local: true) do |form| %>
      <%= form.text_field :if_task, placeholder: "IF(習慣化したい行動に紐付ける行動・場所・時間..etc)"%>
      <%= form.text_field :then_task, placeholder: "THEN(習慣化したい行動)" %>
      <%= form.text_field :title, placeholder: "習慣化したい行動の総称"%>
      <%= form.text_field :unit, placeholder: "習慣化したい行動の単位(例: 分、時間、回、ページ..etc)"%>
      <%= form.text_field :month_goal, placeholder: "習慣化したい行動の月間目標(例：月30時間勉強する→30)※半角数字のみ"%>
      <%= form.submit "編集" %>
    <% end %>
  </div>
</div>