<div class="tasks_row">
  <% if user_signed_in? %>
    <% current_user.tasks.each do |task| %>
      <div class="task_post" >
        <div class="task-title"><%= task.title %>
          <ul class="edit-text">
            <li class="edit-box">
              <%= link_to '編集', edit_task_path(task.id), method: :get %>
            </li>
            <li class="edit-box">
              <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </li>
          </ul>
        </div>
        <span class="ifname">
          <p class="if-box">IF:<%= task.if_task %></p>
          <p class="then-box">THEN:
          <span class="thenfile"><%= task.then_task %></span>
          </p>
        </span>
      </div>
    <% end %>
    <% if current_user.tasks.length == 0 %>
      <div class="task_post">
        <p>IF: ※習慣化したいことに結びつける行動・場所・時間などを入れよう</p>
        <p>THEN: ※習慣化したいことを入力</p>
    <% end %>
  <% end %>
</div>