<div class="calendartitle">
  <%= @task.title%>
</div>
<div class="recordpath">
  <%= link_to "記録を登録する", "/tasks/#{@task.id}/records/new", method: :get %>
</div>
<%= month_calendar events: @task.records do |date, records| %>
  <%= date.day %>

  <% records.each do |record|%>
    <div class="countfont">
      <%= link_to record.count, "/tasks/#{@task.id}/records/#{record.id}", method: :get %><%= @task.unit%>
      <%= record.memo %>
    </div>
  <% end %>
<% end %>


<div class="calendargoal">
  <div class="task-month-goal">
    <p>目標
    <%= @task.month_goal%><%=@task.unit%>
    </P>
    <p>記録
    <%= @task.records.all.sum(:count) %><%= @task.unit%>
    </p>
    <p>残り
    <%= (@task.month_goal - @task.records.all.sum(:count))%><%= @task.unit%>
  </div>
</div>